*~
/mklists/#vars.mk#
/mklists/.#vars.mk
/mklists/archlinux.mk~
/mklists/mkdefs/#sync_contents.mk#
/mklists/mkdefs/.#sync_contents.mk
/mklists/mkdistros/archlinux.mk~
/mklists/vars.mk~
/arch_custom.iso
/arch_custom/
/custom_data/
/mklists/mkdistros/.#archlinux.mk
/configure
/config.status
/autoscan.log
/config.log
/missing
/Makefile
